{% extends '../base.html' %} {% load static %}{% block title %} Моя корзина {% endblock title %}


{% block content %}
<h2 class='center'>Мои заказы</h2>
<div class="main-content">
    {% if orders %}
    <div>
        {% for o in orders %}
        <div class = 'shadow mt-5'>
            <div class ='flex'>
                <div style='margin-right: 15px;'>
                    <h3><label>Дата:</label> {{ o.date_create }}</h3>
                    <h3><label>Статус:</label> {{ o.status }}{% if o.result %} ({{ o.result }}){% endif %}</h3>
                    <h3><label>Количество:</label> {{ o.amount }} шт.</h3>
                </div>
                <div>
                    {% if o.status.id == 1 %}<a class = 'btn-exit' href="{% url 'delete_order' o.id %}">Отменить заказ</a>{% endif %}
                </div>
               
            </div>
            <div class = 'flex'>
                {% for p in o.product %}
                <div class = 'shadow p-2' style="margin:25px;width: 250px;">
                    <a style="color: black; text-decoration: none;" href="{% url 'product_detail' p.id %}">
                        <div style="min-height: 250px; display: flex; align-items: center;"><img src="{{ p.product.image.url }}" alt="Image" style="width: 100%; height:auto;"></div>
                        <h3><label>Название: </label>{{ p.product.name }}</h3>
                        <h3><label>Цена: </label>{{ p.product.price }} руб.</h3>
                        <h3><label>В наличии: </label>{{ p.product.amount }} шт.</h3>
                        <h3><label>Количество:</label> {{ p.amount }} из {{ p.product.amount }} шт.</h3>
                    </a>
                </div>
                {% endfor %}
            </div>
       
        </div>
        {% endfor %}
    </div>
  {% else %}
    <h3 class ='center'>Нет заказов</h3>
  {% endif %}
</div>


{% endblock content %}